<div class="tech-card {{ card_variant | default('default') }} ">
    <div class="tech-card-header">
        {% if icon_tech_card %}
            <div class="tech-icon">
                {% include icon_tech_card %}
            </div>
        {% endif %}
        <h3>{{ title_tech_card }}</h3>
        {% if description_tech_card %}
            <p>{{description_tech_card}}</p>
        {% endif %}
    </div>
    
    <div class="badges">
        {% for item in items_tech_card %}
            {% set text_badge = item %}
            {% include "atoms/badge.html" %}
        {% endfor %}
    </div>
</div>