<section class="hero section section--white">
    {% set level = 1 %}
    {% set text="Software Engineer - Backend, Cloud, Data" %}
    {% include "atoms/heading.html" %}

    <p class="hero-subtitle">
        I design and build production-grade backend systems with a focus on scalability, 
        cloud-native architecture, and data-driven workflows.
    </p>

    {% set text = "Backend Engineer" %}
    {% set badge_icon = "atoms/icons/code.svg" %}
    {% include "atoms/badge.html" %}

    {% set text = "AWS Certified Developer" %}
    {% set badge_icon = "atoms/icons/cloud.svg" %}
    {% include "atoms/badge.html" %}
    
    {% set text = "Data & ML Foundations" %}
    {% set badge_icon = "atoms/icons/architecture.svg" %}
    {% include "atoms/badge.html" %}
    
</section>