{% extends "base.html" %}

{% block title %}App Page{% endblock %}

{% block content %}
<h1>Monitor devices</h1>
<p>You can check the measured variables in this section.</p>

<div class="display">
	<h1>Temperature: <span id="temperature">--</span>°C</h1>
</div>
{% set humidityClass = "dispay" %}
{% set humidityValue = "humidityValue" %}
{% include "organisms/humidity-display.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="module" src="{{ url_for('static', filename='src/fetch-data.js') }}"></script>
{% endblock %}