<svg width="80" height="140">
    <defs>
        <linearGradient id="verticalGradient" x1="0%" x2="0%" y1="0%" y2="100%">
            <stop offset="0%" stop-color="#FC496D"/>
            <stop offset="100%" stop-color="#F7F12F"/>
        </linearGradient>
        <clipPath id="fillMeter">
            <rect  id="rectMeter" x="0" y="127" width="80" height="1" />
        </clipPath>
    </defs>

    <path id="thermometerIndicator" d="M30 80 A25 25 0 1 0 50 80 L50 20 A10 10 0 1 0 30 20 L30 80" stroke="#A0A0A0" stroke-width="2" fill="url(#verticalGradient)" clip-path="url(#fillMeter)"/>
    <path id="thermometerIndicator" d="M30 80 A25 25 0 1 0 50 80 L50 20 A10 10 0 1 0 30 20 L30 80" stroke="#A0A0A0" stroke-width="2" fill="none"/>
</svg>